<template name="FinalFooter">
    <div id="footer">
        <div class="container">
            <ul class="footer-list1">
                <li><a href="{{pathFor "HomePage"}}">Trang chủ</a></li>
                <li><a href="{{pathFor "Quizzes"}}">Tạo đề thi</a></li>
                <li><a href="#">Trắc nghiệm</a></li>
            </ul>
            <ul class="footer-list2">
                <li><a href="{{pathFor "HomePage"}}">VnSigma</a></li>
                <li><a href="#register-modal">Đăng ký tài khoản</a></li>
                <li><a href="#">Liên hệ với chúng tôi</a></li>
            </ul>

            <div class="footer-content">
                <h4>
                    <a href="#">
                        <img src="/img/Quiz-logo.png" height="44">
                        <span>Quiz</span>
                    </a>
                </h4>
                <p>Copyright © 2017 AILab - All rights reserved</p>
            </div>
        </div>
    </div>
</template>