<template name="FinalMenu">
    <div class="quiz-menu">
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a style="padding-left: 0px" href="{{pathFor 'HomePage'}}">Trang chủ</a></li>
                        <li><a href="{{pathFor 'Quizzes'}}">Tạo đề thi</a></li>
                        <!--<li><a href="#">Tạo câu hỏi</a></li>-->
                        <li><a href="#">Trắc nghiệm</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
</template>