<template name="ResetPasswordForm">
    {{#autoForm id=getFormId schema=schema type="normal"}}
        {{>afQuickField name="email"}}
        <button type="submit" class="btn btn-primary btn-block"> Reset</button>
    {{/autoForm}}
</template>

<template name="ResetPasswordPopup">
    <div class="modal fade" id="reset-password-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"> Thiết lập lại mật khẩu</h4>
                </div>
                <div class="modal-body">
                    {{> ResetPasswordForm modalId="reset-password-modal"}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="ResetPassword">
    <div class="container">
        <h2>Đặt lại mật khẩu</h2>
        {{#autoForm id=getFormId schema=schema type="normal"}}
            {{>afQuickField name="password"}}
            {{>afQuickField name="confirmPassword"}}

            <button type="submit" class="btn btn-primary pull-right"> Reset</button>
        {{/autoForm}}
    </div>
</template>