<template name="Login">
    {{#autoForm id=getFormId schema=schema type="normal"}}
        {{>afQuickField name="username"}}
        {{>afQuickField name="password"}}

        <button type="submit" class="btn btn-primary btn-block"> Đăng nhập</button>
    {{/autoForm}}
</template>

<template name="LoginPopup">
    <div class="modal fade" id="login-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"> Đăng nhập</h4>
                </div>
                <div class="modal-body">
                    {{> Login modalId="login-modal"}}
                </div>
            </div>
        </div>
    </div>
</template>