<template name="InsertUpdateMultipleChoice">
    {{#autoForm id=getFromId schema=schema doc=getData type="normal"}}
        {{> afQuickField name="Content.Question"}}
        {{> afQuickField name="Content.Options"}}
        {{> afQuickField name="Category"}}
        {{> afFieldInput name="QuestionType"}}

        <a href="#" data-toggle="collapse">Nhiều hơn</a>

        <div class="collapse">
            {{> afQuickField name="Level"}}
            {{> afQuickField name="CorrectPoints"}}
            {{> afQuickField name="IncorrectPoints"}}
        </div>

        <button type="submit" class="btn btn-primary btn-block"> Submit</button>
    {{/autoForm}}
</template>

<template name="InsertUpdateMultipleChoicePopup">
    <div class="modal fade" id="{{getModalId}}">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"> Câu hỏi trắc nghiệm</h4>
                </div>
                <div class="modal-body">
                    {{#with passedData}}
                        {{> InsertUpdateMultipleChoice }}
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="MultipleChoicePreview">
    <div class="row">
        <div class="col-md-12">
            <div class="question-preview">
                <h5><strong>Câu hỏi {{refineIndex index}}</strong>: {{{Content.Question}}}</h5>
                {{#each Content.Options}}
                    <div class="form-group">
                        <div class="input-group" style=" margin-bottom: 1px; ">
                        <span class="input-group-addon">
                          <input type="checkbox" checked="{{#if IsAnswer}}checked{{/if}}" disabled="disabled">
                        </span>
                            <p class="form-control">{{{Content}}}</p>
                        </div>
                    </div>
                {{/each}}

                <div class="tool-box">
                    <div class="div">
                        <a class="btn btn-danger btn-sm pull-right tool-btn"><i class="fa fa-trash"></i></a>
                        <a data-toggle="modal" href="#{{getModalId}}"
                           class="btn btn-primary btn-sm pull-right tool-btn"><i class="fa fa-pencil"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{#with getEditData}}
        {{>InsertUpdateMultipleChoicePopup}}
    {{/with}}
</template>

<template name="MultipleChoicePractise">
    <div class="row">
        <div class="col-md-12">
            <h4><strong>Câu hỏi {{refineIndex index}}</strong>: {{{Content.Question}}}</h4>
            {{#unless ___isShowAnswer}}
                {{#each Content.Options}}
                    <div class="form-group">
                        <div class="input-group" style=" margin-bottom: 1px; ">
                            <span class="input-group-addon">
                                <input type="checkbox">
                            </span>
                            <p class="form-control">{{{Content}}}</p>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                {{#each Content.Options}}
                    <div class="form-group">
                        <div class="input-group" style=" margin-bottom: 1px; ">
                        <span class="input-group-addon">
                          <input type="checkbox" checked="{{#if IsAnswer}}checked{{/if}}" disabled="disabled">
                        </span>
                            <p class="form-control">{{{Content}}}</p>
                        </div>
                        <span class="help-block">{{{Feedback}}}</span>
                    </div>
                {{/each}}
            {{/unless}}
        </div>
    </div>
</template>

<template name="MultipleChoiceTest">
    <div class="row">
        <div class="col-md-12">
            <h4><strong>Câu hỏi {{refineIndex index}}</strong>: {{{Content.Question}}}</h4>
            <form id="{{Id}}" name="{{Id}}">
                {{#each Content.Options}}
                    <div class="form-group">
                        <div class="input-group" style=" margin-bottom: 1px; ">
                        <span class="input-group-addon">
                          <input type="checkbox" name="{{Id}}">
                        </span>
                            <p class="form-control">{{{Content}}}</p>
                        </div>
                    </div>
                {{/each}}
            </form>
        </div>
    </div>
</template>

<template name="MultipleChoiceResult">
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <h5><strong>Câu hỏi {{refineIndex index}}</strong>: {{{Content.Question}}}</h5>
                {{#each Content.Options}}
                    <div class="form-group">
                        <div class="input-group" style=" margin-bottom: 1px; ">
                        <span class="input-group-addon">
                          <input type="checkbox" checked="{{#if IsAnswer}}checked{{/if}}" disabled="disabled">
                        </span>
                            <p class="form-control">{{{Content}}}</p>
                        </div>
                        <div class="help-block">{{Feedback}}</div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</template>